body {
    margin: 0px;
}
a {
    color:black;
    text-decoration: none;
}
h1 {
    font-size: 60px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0px;
    padding: 20px;
}
h2 {
    font-size: 30px;
    text-align: left;
    border-top: 1px solid gray;
    margin: 0px;
    padding: 20px;
}
h4 {
    text-align: right;
}
ul {
    width: 180px;
    margin: 0px;
    padding: 20px;
    padding-top: 20px;
    padding-left: 40px;
}
#grid {
    display: grid;
    grid-template-columns: 0fr;
    grid-template-rows: 100px
}
#grid-ul {
    padding: 40px;
}
p {
    padding-left: 20px;
    margin-top: 0px;
}
#text {
    margin: 0px;
    padding: 20px;
    padding-left: 20px;
    padding-right: 100px;
}
@media(max-width: 700px) {
    #grid {
    display: block;
    }
    ul {
    border-right: none;
    }
    h1, h2 {
    border-bottom: none;
    }
}